@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

/* begin relevant CSS */
.blog-insert {
  max-width: 100%;
  text-align: center;
  font-size: 0;
}
.blog-insert > * {
  display: inline-block;
  border: solid 4px #fff;
  box-shadow: 0 0 20px #333;
}
.blog-insert img {
  max-width: 100%;
  box-sizing: border-box;
}
.blog-insert a img {
  width: 100%;
}
/* end relevant CSS */

body {
  min-width: 600px;
  margin: 20px;
  font: 18px/1.3 'Noto Sans', sans-serif;
  color: #444c5b;
  background: #dee5eb linear-gradient(#acbecd 20%, #dee5eb) no-repeat;
}
a {
  color: #ce4061;
  text-decoration: none;
}
.intro {
  margin: 0 auto 20px;
  width: 560px;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
}
h1 {
  margin: 0 0 20px;
  font-size: 28px;
  line-height: 1;
  text-align: center;
}
.vice {
  margin: 0 auto;
  width: 540px;
  height: 260px;
  padding: 0 20px;
  border-left: solid 10px #ce4061;
  border-right: solid 10px #ce4061;
  animation: squeeze 5s infinite;
}
.text {
  margin-top: 20px;
}

@keyframes squeeze {
	50% { width: 260px; }
	100% { width: 540px; }
}